<div>
    <form action="/session/register" method="post">
        <div>
            <input type="text" placeholder="Nombre" id="userName" name="userName">   
        </div>
        <div>
            <input type="text" placeholder="Apellido" id="lastName" name="lastName">   
        </div>
        <div>
            <input type="text" placeholder="Contraseña" id="pasword" name="pasword">   
        </div>    
    </form>
    <div>
        <button onclick="location.href = '/login'">Iniciar session</button>
    </div>
</div>