<div>
    <form action="/login/register" method="post">
        <div>
            <input type="email" placeholder="Email" id="userEmail" name="userEmail" required>   
        </div>
        <div>
            <input type="text" placeholder="Nombre" id="userName" name="userName" required>   
        </div>
        <div>
            <input type="text" placeholder="Apellido" id="lastName" name="userLastName" required>   
        </div>
        <div>
            <input type="password" placeholder="Contraseña" id="userPasword" name="userPasword" required>   
        </div>
        <div>
            <button type="submit">Iniciar session</button>
        </div>            
    </form>

</div>