<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        let d = userData
        document.body.innerHTML = "<h1>Bienvenido " + d.userName + " " +  d.userLastName + 
        "<p>has visitado este sitio " +  d.count + " veces<p>" 
    </script>    
    <div>
        <button onclick="location.href='/logout'"></button>
    </div>
</body>
</html>